<details id="add_item_details_<%= category.name.parameterize %>" class="mt-2" data-controller="collapse" data-testid="add-item-details" data-category-name="<%= category.name.parameterize %>">
  <summary class="text-sm text-blue-600 cursor-pointer hover:underline list-none" data-testid="add-item-summary">
    + <%= t("inspection_templates.edit.add_item") %>
  </summary>
  <div class="mt-3">
    <%= render partial: "inspection_template/items/form",
               locals: { item: template.items.build(inspection_template_category: category),
                         template: template,
                         inline: false } %>
  </div>
</details>
