<% category_key = item.category.to_s.parameterize.presence || "uncategorized" %>

<%= turbo_stream.append "checklist_items_#{category_key}" do %>
  <li>
    <%= render partial: "checklist_items/checklist_item", locals: { item: item } %>
  </li>
<% end %>

<%= turbo_stream.replace "add_item_details_#{category_key}" do %>
  <%= render partial: "checklist_items/add_item_details",
             locals: { template: item.inspection_template,
                       category: item.category } %>
<% end %>
