<% category_key = item.category.to_s.parameterize.presence || "uncategorized" %>

<%= turbo_stream.append "checklist_items_#{category_key}" do %>
  <li>
    <%= render partial: "checklist_items/checklist_item", locals: { item: item } %>
  </li>
<% end %>

<%= turbo_stream.replace "new_checklist_item_#{category_key}" do %>
  <%= turbo_frame_tag "new_checklist_item_#{category_key}" %>
<% end %>
