<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/rails_admin/head" %>
  </head>
  <body class="rails_admin">
    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
